body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #FFD9DD;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(45deg, #FF7E91, #E23E57);
    color: white;
    padding: 0 40px;
}

.cabecalho-imagem {
    width: 60px;
    height: 50px;
}

.titulo-container {
    text-align: center;
    font-size: 36px;
    margin: 40px 0;
    color: #99004C;
    font-weight: bold;
}

.lista-cabecalho li a {
    font-size: 14px;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.conteudo-receita {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px 0;
}

.img-produto-receita {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.ingredientes,
.modo-preparo {
    text-align: center;
    margin: 20px;
}

.ingredientes h2,
.modo-preparo h2 {
    font-size: 24px;
    color: #99004C;
    font-weight: bold;
    margin-bottom: 10px;
}

.ingredientes ul,
.modo-preparo ol {
    list-style: square;
    padding-left: 20px;
    text-align: left;
}

@media screen and (max-width: 768px) {
    .cabecalho-nav {
        display: none;
    }

    .cabecalho-imagem {
        display: none;
    }
}

@media screen and (max-width: 548px) {
    .titulo-container {
        font-size: 26px;
    }
}

@media screen and (max-width: 425px) {
    .cabecalho {
        padding: 5px 15px;
    }

    .titulo {
        font-size: 18px;
    }

    .cabecalho-nav {
        display: none;
    }

    .titulo-container {
        font-size: 22px;
    }

    .img-produto-receita {
        width: 240px;
        height: 240px;
    }

    .ingredientes h2,
    .modo-preparo h2 {
        font-size: 20px;
    }
}
