
/* Estilos globais */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

/* Estilos do cabeçalho */
.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #34495e;
    color: white;
    padding: 10px 20px;
}

.cabecalho-imagem {
    width: 80px;
    height: auto;
}

.cabecalho-nav ul {
    list-style: none;
    display: flex;
}

.lista-cabecalho li a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.lista-cabecalho li a:hover {
    background-color: #2c3e50;
}

/* Estilos imagens receita */
.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

.Box {
	margin: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.ImgBox img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.icone {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease;
    z-index: 1;
    width: 40%; /* Reduzi o tamanho do ícone */
}

.Box:hover .icone {
    opacity: 1;
    transform: translate(-50%, -10px);
    transition-delay: 0.2s;
}

/* Estilos do rodapé */
footer {
    background-color: #34495e;
    padding: 10px 0;
    text-align: center;
    color: white;
}
