* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FFD9DD;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    height: 100vh;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 200px;
}

button {
    background-color: #FF1A6D;
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 8px;
}

button a {
    color: #FFD9DD;
    text-decoration: none;
}